@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@custom-variant dark (&:where(.dark, .dark *));
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

td.dt-empty {
  color: white;
  font-weight: medium;
  text-align: center;
  padding: 10px;
}

.dark .apexcharts-tooltip {
  background: #1f2937 !important;
  border-color: #374151 !important;
  color: #fff !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
}

.dark .apexcharts-tooltip-title {
  background: #374151 !important;
  border-color: #4b5563 !important;
}
